body{
    background-color: #f1f1f1;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}
header{
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 90px;
}

header .shopping{
    position: relative;
    text-align: right;
    top:-22px;
}
h1{
    background: linear-gradient(45deg,#85babb,#f1f1f1);
    position: relative;
    width: 112%;
    height: 190px;
    top: -57px;
    color: #f1f1f1;
    left:-45px;

}
header .shopping img{
    width: 40px;
}
header .shopping span{
    background:rgb(32, 179, 216);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}
.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}
.list .item{
    text-align:left;
    background-color: #f1f1f1;
    padding: 20px;
    box-shadow: 0 50px 50px #b7bcbc;
    letter-spacing: 1px;
}
.list .item img{
    width: 90%;
}
.list .item .title{
    font-weight: 600;
}
.list .item .price{
    margin: 10px;
}
.list .item button{
    background-color: #85babb;
    color: #f1f1f1;
    /* width: 100%; */
    padding: 10px;
    border-radius: 100px;
    border-color: #85babb;
    border-style: double;
}

.card {
    position: fixed;
    top: 0;
    left: 100%;
    width: 423px;
    background-color: white;
    height: 100vh;
    transition: 0.5s;
}
.active .card {
    left: calc(100% - 420px);
}
.active .container{
   transform: translateX(-200px);
}
.card h1{
    color: #22221e;
    font-weight: 100;
    margin: 0;
    height: 80px;

    position: relative;
    left:0px;
    font-weight: bold;
    font-size: 19px;
    top:-1px;
}
.card2 h1{
    color: #22221e;
    font-weight: 100;
    margin: 0;
    height: 80px;

    position: relative;
    left:0px;
    font-weight: bold;
    font-size: 19px;
    top:-1px;
}
/* .card2 h1{
    color: #22221e;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;

    position: relative;
    left:38px;
    font-weight: bold;
    font-size: 19px;
} */
.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.checkout{
    position: absolute;
    top: 5vh;
    left: 36vh;
    background: #080808;
    border-radius: 25px;
    width: 112px;
    border: aliceblue;
    height: 31px;
    color: white;

}
.checkout2{
    position: absolute;
    top: 89vh;
    left: 36vh;
    background: #080808;
    border-radius: 25px;
    width: 112px;
    border: aliceblue;
    height: 31px;
    color: white;

}
.card .checkOut div{
    background-color: transparent;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    left: 1vh;
    top: -30px;
}
.card .checkOut div:nth-child(2){
    position: relative;
    top: -81vh;
    background: transparent;
    left: 17vh;
    font-size: 24px;
}
.total2{
   width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    left: -13vh;
    top: 79vh;
}
.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: black;
    row-gap: 10px;
}
.listCard li div {
    position: relative;
    right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 90%;
}
.listCard li button{
    background-color: #fff5;
    border: none;
    /* border-radius: 100%; */
}
.listCard .count{
    position: relative;
    left:1px;
    margin: 0 10px;
}
.closeShopping{
    position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.closeShopping:hover{
    opacity: 1;
}
.closeShopping:before, .closeShopping:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .closeShopping:before {
    transform: rotate(45deg);
  }
  .closeShopping:after {
    transform: rotate(-45deg);
  }

/* close likes */
.closelikes{
    position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.closelikes:hover{
    opacity: 1;
}
.closelikes:before, .closelikes:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .closelikes:before {
    transform: rotate(45deg);
  }
  .closelikes:after {
    transform: rotate(-45deg);
  }

/* close likes */




  /* --------- */
  header .likes{
    position: relative;
    text-align: right;
    top:-80px;
  }
 header .likes img{
    position: relative;
    width: 40px;
    top: -265px;
    left: -20px;
 }
  header .likes span{
    background-color: rgb(32, 179, 216);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top:-36vh;
    left:97%;
    padding:3px 10px;
  }

  .card2 {
    position: fixed;
    top: 0px;
    left: 100%;
    width: 423px;
    background-color: white;
    height: 100vh;
    transition: 0.5s;
    /* transform: translateX(-200px); */

}
  .card2 h1{
    color:#080808;
    font-weight: bold;
    margin:0;
    padding:0 20px;
    /* height: 80px; */
    display: flex;
    align-items:center ;
  }

  .card2 .checkout2{
    position: absolute;
    bottom: 49px;
    
    border-radius: 25px;
    background: black;
    color: white;

}


  .card2 .checkout2 div{
    background-color: wheat;
  }

  .card2 .checkout2 div:nth-child(2){
    background-color:black;
    color: white;
  }
  .active2.card2 {
    left: calc(100% - 420px);
}
.active2 .container{
   transform: translateX(-200px);
}

    
.listCard2 li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: black;
    row-gap: 10px;
}
.listCard2 li div {
    position: relative;
    right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard2 li img{
    width: 90%;
}
.listCard2 li button{
    background-color: transparent;
    border: none;
}
.listCard2 .count2{
    position: relative;
    left:1px;
    margin: 0 10px;
}

/* prove */
.filter button{
    border-radius:3cqb;
    border-style: double;
    border-color: #85babb;

    background-color: #85babb;
    color: #f1f1f1;
    padding: 10px;
}

.list{
    /* position: absolute; */
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    border-radius: 20px;
    background-size: 350px;
    background-position: center;
    filter: brightness(.9) saturate(1) contrast(1);
    transform-origin: bottom;
    transform: scale(1) translateZ(0);
    transition: .3s ease;
}
/* 
.list:hover{
    transform: scale(1.15) translateZ(0);
    background-size: 260px;
}
.list:hover .list:not(:hover)
{
    transform: scale(.9);
    filter: brightness(.5) saturate(0) contrast(1.2) blur(20px);
} */
.item {
    display: inline-block;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .item img {
    object-fit: cover;
  }
  
  .item:hover {
    transform: scale(1.2);
    /* Add any other styles to make the item stand out */
  }
  
  .item .title {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .item .price {
    margin-top: 5px;
  }
  
  .item button {
    margin-top: 10px;
  }
  
  
  